* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2F3133;
    flex-direction: column;
    align-items: center;
}

#welcome-section h1{
  font-size: 5rem;
  color: #fff;
}

#welcome-section p{
  margin-top: 0;
  font-size: 3rem;
  color: #BE3144;
  font-style: italic;
}

#welcome-section div{
  text-align: center;
}

#welcome-section a{
  text-decoration: none;
  color: #fff;
}



nav {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #BE3144;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 5.2rem;
}

nav div a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 1.5rem;
}

nav div a:hover,
nav div a:active {
    background-color: #45567D;

}

#projects {
    background-color: #45567D;
    text-align: center;
    padding-top: 4rem;
    
}

#projects h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 40%;
    margin: 0 auto;
    font-size: 3rem;
}

.projcet-tile {
    display: flex;
    flex-wrap: wrap;
    
}

.project-tile a {
    
}
